.scene {
  width: 100px;
  height: 100px;
  border: none;
  margin: 80px;
  perspective: 400px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: -270px;
}

.cube {
  width: 100px;
  height: 100px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s;
  transform: rotateY(65deg);
  animation: mymove 8s infinite;
}

@keyframes mymove {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(359deg);
  }
}

.cube.show-front {
  transform: translateZ(-50px) rotateY(0deg);
}

.cube.show-right {
  transform: translateZ(-50px) rotateY(-90deg);
}

.cube.show-back {
  transform: translateZ(-50px) rotateY(-180deg);
}

.cube.show-left {
  transform: translateZ(-50px) rotateY(90deg);
}

.cube.show-top {
  transform: translateZ(-50px) rotateX(-90deg);
}

.cube.show-bottom {
  transform: translateZ(-50px) rotateX(90deg);
}

.cube__face {
  position: absolute;
  width: 100px;
  height: 100px;
  border: none;
  line-height: 100px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.cube__face--front {
  background: url("https://cdngarenanow-a.akamaihd.net/webth/cdn/garena/gamertocoder/bmg-wallpaper/09.jpg");
  background-size: cover;
  transform: rotateY(0deg) translateZ(50px);
}

.cube__face--right {
  background: url("https://cdngarenanow-a.akamaihd.net/webth/cdn/garena/gamertocoder/bmg-wallpaper/13.jpg");
  background-size: cover;
  transform: rotateY(90deg) translateZ(50px);
}

.cube__face--back {
  background: url("https://cdngarenanow-a.akamaihd.net/webth/cdn/garena/gamertocoder/bmg-wallpaper/07.jpg");
  background-size: cover;
  transform: rotateY(180deg) translateZ(50px);
}

.cube__face--left {
  background: url("https://cdngarenanow-a.akamaihd.net/webth/cdn/garena/gamertocoder/bmg-wallpaper/06.jpg");
  background-size: cover;
  transform: rotateY(-90deg) translateZ(50px);
}

.cube__face--top {
  background: rgba(255, 255, 255, 0.7);
  transform: rotateX(90deg) translateZ(50px);
}

.cube__face--bottom {
  background: rgba(255, 255, 255, 0.7);
  transform: rotateX(-90deg) translateZ(50px);
}

#cartoon img {
  height: 480px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: -130px;
  padding-left: 50px;
  animation: bounce 0.8s infinite;
}


@keyframes bounce {

  0%,
  100% {
    transform: translateY(0%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: translateY(5%);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@media (max-width: 1280px) {
  .scene {
    margin-top: -140px;
  }
}

@media (max-width: 500px) {
  .scene {
    margin-top: -10px;
    width: 75px;
    height: 75px;
  }

  .cube {
    width: 75px;
    height: 75px;
  }

  .cube__face {
    width: 70px;
    height: 70px;
  }

  .cube__face--front {
    transform: rotateY(0deg) translateZ(35px);
  }

  .cube__face--right {
    transform: rotateY(90deg) translateZ(35px);
  }

  .cube__face--back {
    transform: rotateY(180deg) translateZ(35px);
  }

  .cube__face--left {
    transform: rotateY(-90deg) translateZ(35px);
  }

  .cube__face--top {
    transform: rotateX(90deg) translateZ(35px);
  }

  .cube__face--bottom {
    transform: rotateX(-90deg) translateZ(35px);
  }


  #cartoon img {
    height: 240px;
    width: 420px;
    margin-top: -110px;
    margin-left: -50px;
  }
}