footer{
    width: 100%;
    height: 100px;
    background-color: #212121;
    color: #fff;
}
#lg img{
   height: 50px;
   width: auto;
   margin-left: auto;
   margin-right: auto;
   display: block;
}
#lg{
    padding-top: 10px;
}

.edit{
    font-family: "Bloxat";
    margin-top: 8px;
    color: #fff;
    text-align: center;
}
.name{
    color: #fff2bd;
    font-family: "MinecraftTen";
}

