footer {
  width: 100%;
  height: auto;
  background-color: #212121;
  color: #fff;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.logo-devby {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.char-left img {
  height: 20rem;
  position: absolute;
  top: -12rem;
  left: 0;
 }
.char-right img {
 height: 20rem;
 position: absolute;
 top: -12rem;
 right: 0;
}

.logo-footer-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 56%;
}

#lg img {
  height: 60px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}
#lg {
  padding-top: 10px;
}

#garena-logo {
  width: 120px;
  margin-top: 12px;
}

.edit {
  font-family: "Bloxat";
  margin: 0 auto;
  margin-top: 12px;
  color: #fff;
  text-align: center;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.name-box {
  margin: 0 8px;
}

.Devby,
.and {
  color: #fff;
  margin: 0 8px;
}

.name {
  color: #fff2bd;
  font-family: "MinecraftTen";
}
@media (max-width: 500px) {
  .edit {
    font-size: 15px;
  }
}
