/* Fun with mini games */
.text {
    display: block;
    width: 600px;
    height: 360px;
    background: rgba(0, 0, 0, .5);
    margin-left: 128px;
    font-size: 60px;
    margin-top: -400px;
    margin-bottom: 300px;
    box-shadow: 0 0 16px rgb(238, 149, 149);
}

.iconbox {
    width: 15%;
    height: 100%;
    background: aqua;
    display: inline-block;
    margin-left: -10px;
}

.iconbox1 {
    width: 15%;
    height: 100%;
    background: aqua;
    display: inline-block;
}

.iconbox img {
    width: 100%;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    display: block;
}

.iconbox1 img {
    width: 100%;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    display: block;
}

.text span {
    position: absolute;
    margin-top: 25px;
    text-align: center;
}

.m1,
.m2 {
    color: #fff;
    margin-top: 20px;
    margin-left: 48px;
    font-family: "Bloxat";
}

.m3 {
    margin-top: 20px;
    margin-left: 36px;
    font-family: "MinecraftTen";
    color: rgb(238, 149, 149);
}

/* Many Characters */
.charac{
    width: 530px;
    height: 450px;
    background: rgba(0, 0, 0, .5);
    margin-left: 1300px;
    margin-top: -700px;
    margin-bottom: 300px;
    box-shadow: 0 0 16px rgb(238, 149, 149);
}
.charimg{
    margin-left: 20px;
}
.charac .mct{
    text-align: center;
    color: #fff;
    font-size: 52px;
    font-family: "Bloxat";
    margin-top: 2rem;
}
.column1{
    margin-top: 30px;
    width: 220px;
    height: auto;
    display: inline-block;
    margin-left: -50px;
}
.column2{
    width: 150px;
    height: auto;
    display: inline-block;
    margin-left: -50px;
}


/* responsive */
@media (max-width: 1440px) {
    .text {
        width: 400px;
        height: 240px;
        margin-left: 60px;
        margin-top: -400px;
        font-size: 40px;
    }

    .text span {
        position: absolute;
        margin-top: 10px;
        text-align: center;
    }
    .charac{
        width: 397.5px;
        height: 337.5px;
        margin-left: 840px;
        margin-top: -600px;
    }
    .charimg{
        margin-left: 60px;
    }
    .column1{
        margin-top: 30px;
        width: 160px;
        height: auto;
        display: inline-block;
        margin-left: -50px;
    }
    .column2{
        width: 110px;
        height: auto;
        display: inline-block;
        margin-left: -50px;
    }
    .charac .mct{
        font-size: 35px;
        margin-left: -60px;
    }
}
@media (min-width: 1440px){
    .charac{
        width: 397.5px;
        height: 337.5px;
        margin-left: 980px;
        margin-top: -600px;
    }
}

@media (min-width: 1441px){
    .charac{
        width: 530px;
        height: 400.5px;
        margin-left: 980px;
        margin-top: -600px;
    }
    .text{
        margin-left: 50px;
    }
}
@media (min-width: 1800px){
    .charac{
        margin-left: 1200px;
        margin-top: -670px;
    }
}

@media (max-width: 1025px){
    .charac{
        display: none;
    }
    .text{
        display: none;
    }
}