:root{
  --w-btn:203px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: #000;
}

@font-face {
  font-family: "Bloxat";
  src: url("./font/Bloxat-PDoE.ttf");
}

@font-face {
  font-family: "MinecraftTen";
  src: url("./font/MinecraftTen-VGORe.ttf");
}

